*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
main{
    width: 80%;
    height: 100vh;
    margin: 0 auto;
}
nav{
    width: 100%;
    height: 80px;
    background-color: #ffffff;
}
nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 80px;
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
    position: relative;
}
nav ul li{
    width: 100%;
    height: 80px;
    text-align: center;
    line-height: 80px;
}
nav ul li a{
    display: block;
    color: black;
}

nav ul>li:hover{
    background-color: red;
}
nav ul li ol{
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
    transform: scaleY(0);
    transform-origin: 50% 0;
    transition:all 0.4s;
}
nav ul li ol li{
    height: 80px;
    border-bottom: 1px solid rgb(255,255,255);
}
nav ul li ol > li:hover{
    background-color: #ddd;
}
nav ul li ol li a{
    display: block;
    width: 100%;
    height: 80px;
    text-align: center;
    line-height: 80px;
}
nav ul>li:hover ol {
    transform: scaleY(1);
}
nav ul li .underline{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 240px;
    height: 6px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    background-color:#CC3333;
    border: 1px solid green;
    transition: all 0.5s;
}