*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-size: 35px;
}
body{
    width: 50%;
    height: 100vh;
    margin: 30px auto;
}
ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 75px;
}
ul>li{
    width: 100%;
    height: 75px;
    text-align: center;
    line-height: 75px;
}
a{
    width: 100%;
    height: 75px;
    display: block;
}
ul>li a:hover{
    background-color:#ddd;
    color: black;
}
ul li ol{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 75px;
    transform: scale(0);
    transition-duration: 0.5s;
    transition-delay: 0.3s;
}
ul li ol li{
    width: 100%;
    height: 75px;
    text-align: center;
    line-height: 75px;
}
ul li ol li a:hover{
    background-color:#ddd;
    color: black;
}
ul>li:hover ol{
    transform: scale(1);
}