* {
    margin: 0;
    padding: 0;
}

/*全局样式区*/
li {
    list-style: none;
}

a {
    text-decoration: none;
}
/*主区域*/
main {
    width: 80%;
    min-height: 100vh;
    margin: auto;
}

/*导航栏*/
nav {
    width: 100%;
    height: 100px;
    background-color: red;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    min-height: 100px;
}

nav a {
    color: white;
    font-size: 35px;
}

/*左侧边栏*/
.box1 {
    display: flex;
    flex-direction: row;
    width: 100%;
    min-height: 1000px;
}
.box1 aside{
    width: 25%;
    height:1000px;
    background-color: #ddd;

}
.box1 ul {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 200px;
    height: 1000px;
    font-size: 25px;
}
.box1 ul li{
    position: relative;
    width: 190px;
    height: 90px;
    border: 1px solid white;
    background-color:#ddd;
    text-align: center;
    line-height: 90px;
}
.box1 ul li a{
    color: black;
}
/*二级菜单*/
ol{
    position: absolute;
    left: 100%;
    top: 0;
    width: 95%;
    display: none;
}
ol>li{
    width: 95%;
    height: 50px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    text-align: center;
    align-items: center;
    padding: 10px 10px;
    line-height: 50px;
}
ol li:hover{
    background-color: white;
}
.box1 ul>li:hover ol{
    display: block;
}
/*轮播图*/
.box1 div{
    width: 100%;
    height: 1000px;
    overflow: hidden;
}
.image{
    width: 100%;
    height: 5200px;
}
.image img{
    width: 100%;
    height: 1000px;
    background-repeat: no-repeat;
    background-size: cover;
    animation: image 15s ease-out infinite;
}
@keyframes image {
    10%{
        transform: translateY(0);
    }
    30%{
        transform: translateY(-1000px);
    }
    50%{
        transform: translateY(-2000px);
    }
    70%{
        transform: translateY(-3000px);
    }
    100%{
        transform: translateY(-4000px);
    }
}
/*商品列表*/
.box3{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 500px;
}
.box3 img{
    width: 25%;
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    transition: all 0.3s ease;
}
.box3 img:hover{
    box-shadow: 0 8px 20px rgba(0,0,0,0.15);
    transform:translatey(-5px);
}
/*footer*/
footer{
    width: 100%;
    height: 500px;
}
footer img{
    width: 100%;
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
}