body{
    margin: 0 auto;
    width: 1200px;
    min-height: 300px;
}
#box_2{
    display: flex;
    margin: 15px 15px;
    width: 1200px;
    height: 820px;
    border: 1px solid red;
}
#box_2>div{
    /*border: 1px solid black;*/
}
#box_2>div:nth-of-type(1){
    flex: 1;
    margin: 15px 0 15px 15px;
}
#box_2>div:nth-of-type(2){
    flex: 2;
    margin: 15px 15px 15px 0;
    text-align: center;
    font-size: 23px;
    background-color:#cf9c94;
}
img{
    margin: 75px 30px;
    width: 500px;
    height: 500px;

}
h1{
    font-size: 22px;
}
ul>li{
    list-style-type:none;
    margin-top: 20px;
}
a{
    font-size: 25px;
}
#售价{
    margin-top: 20px;
}
a:link{
    color: pink;
}
a:visited{
    color: yellow;
}
a:hover{
    color: skyblue;
}
a:active{
    color: burlywood;
}