*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}
header{
   font-size: 3rem;
}
ol{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: orange;
}
ol li{
    width: 100%;

}
a{
    display: block;
    font-size: 2.5rem;
}
ol li a:hover{
    background-color: #dddddd;
}