body{
	background-image: url("素材/img/背景.png");
	background-repeat: no-repeat;
	background-size: cover;
}
.logo{
	margin: 50px auto;
	width: 400px;
	height: 82px;
	background-image: url("素材/img/logo.png");
	background-repeat: no-repeat;
	background-size: cover;
	/* border: 1px solid red; */
}
.form_1{
	width: 600px;
	height: 400px;
	float: right;
	margin-top:50px;
	margin-right: 100px;
	position: relative;
	background:rgba(255, 255, 255, 0.3);
	border-radius: 10px;
}
form{
	position: absolute;
	width: 260px;
	height: 300px;
	top: 45px;
	left: 33px;
	background:rgba(255, 255, 255, 0.3);
	padding: 12px 30px;
	border-radius: 10px;
}
label{
	display: block;
	margin-top: 20px;
	background:rgba(255, 255, 255, 0.3);
	width: 255;
	height: 50px;
	border-radius: 5px;
}
form label img{
	vertical-align: middle;
	margin-left: 10px;
	width: 25px;
	height: 25px;
	background:rgba(255, 255, 255, 0.3);
}
input[type="text"]{
	width: 200px;
	height: 30px;
	margin-top: 10px;
}
input:hover{
	border: 1px solid rgba(221, 221, 221, 0.5);
}
.bth{
	margin-top: 25px;
	width: 255px;
	height: 40px;
	background:rgba(85, 170, 255, 0.8);
	text-align: center;
	line-height: 40px;
	color: white;
	font-size: 20px;
}
.bth:hover{
	line-height: 35px;
	font-size:25px;
	background:rgba(85, 170, 255, 0.3);
}
.bth:active{
	line-height: 35px;
	font-size:25px;
	background:rgba(255, 85, 0, 0.3);
	}
input:focus-visible{
	line-height: 35px;
	background:rgba(85, 255, 0, 0.3);
}
.code{
	width: 200px;
	height: 200px;
	margin: 90px 375px;
	background-image: url("素材/img/制作二维码.PNG");
	background-repeat: no-repeat;
	background-size: cover;
}