 /*.div_zidi>p{*/
        /*    color: blue;*/
        /*    font-size: 35px;*/
        /*}*/
        /*.div_zidi span{*/
        /*    color: initial;*/
        /*    font-size: initial;*/
        /*}*/