body{
    width: 1000px;
    margin:0 auto;
}
#div_counter{
    width: 1000px;
    height: 400px;
    margin: 0 auto;
    /*border: 1px solid red;*/
}
.div_背景{
    width: 1000px;
    height: 140px;
    border: 1px solid #877a7a;
    float: left;
    margin-top: 15px;
}
.div_flex{
    width: 30%;
    height: 140px;
    float: left;
    /*border: 1px solid skyblue;*/
}
#div_flex_1{
    height: 140px;
}
.div_背景>.logo img{
    width: 80px;
    height: 50px;
    float: left;
    margin: 10px 45px;
}
.div_背景>:first-child{
    font-size: 35px;
    background-color:#546e7a;
    line-height: 120px;
    text-align: center;
    color: #00aa00;
}
input[type="checkbox"]{
    font-size: 25px;
    margin: 60px 10px;
    gap: 25px;

}
input[type="radio"]{
    font-size: 25px;
    margin: 60px 10px;
    gap: 25px;
}